.example-spacer {
    flex: 1 1 auto;
  }
   mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .container {
    height: 90vh;
  }
  .row {
    height: 100% !important;
  }
  mat-card {
    height: 100% !important;
  }
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 48px);
  }
  