<div class="container">
    <div class="row">
        <mat-toolbar color="primary">
            <i style="display: inline-block; color: rgb(247, 3, 3); margin: 20px; font-size: 32px;" class="fa fa-plus" title="Hospital"></i>
            <span style="color: rgb(252, 0, 0); font-size: 32px;">Hospital</span>
            <span class="example-spacer"></span>

            <form #searchForm="ngForm" action="" class="row justify-content-start" (ngSubmit)="searchForm.valid && onSubmit()">
              <div class="col align-self-center">
                <label style="margin-right: 10px; color: rgb(247, 3, 3); font-size: 28px;">Enter Mobile</label>
                <input type="number" name="mobile" [(ngModel)]="searchFormObj.mobile" #mobile="ngModel" >
              </div>
              <div class="col align-self-center">
                <button type="submit"><i style="cursor: pointer; color: rgb(247, 3, 30);"  class="fa fa-search" title="search patient"></i></button>
              </div>
            </form>

            <span class="example-spacer"></span>
            <button mat-raised-button color="accent" (click)="openAddModal()">Add Patient</button>
            <button style="margin: 30px;" type="button" class="btn btn-warning" (click)="logout()">Log Out</button>
          </mat-toolbar>    

          <mat-card>
            <mat-card-header>
              <mat-card-title>List of Patients</mat-card-title>
            </mat-card-header>
            <mat-card-content>
      
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <!-- <th scope="col">Image path</th> -->
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Desease</th>
                    <th scope="col">Age</th>
                    <th scope="col">Appointment</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of displayedItems; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item['name']}}</td>
                    <td>{{item['gender']}}</td>
                    <td>{{item['mobile']}}</td>
                    <td>{{item['desease']}}</td>
                    <td>{{item['age']}}</td>
                    <td><span *ngIf="item['appointment'] != null">{{item['appointment'][item['appLength']-1]}}</span></td>
                    <td class="px-4">
                    <i role="button" style="display: inline-block; color: rgb(6, 111, 11); margin-left: 20px;" (click)="openEditModal(item['_id'])" class="fa fa-edit" title="edit"></i>
                    <i role="button" style="display: inline-block; color: blue; margin-left: 20px;" (click)="openAddNewEntryModal(item['_id'])" class="fa fa-plus" title="new entry"></i>
                    </td>
                  </tr>
                </tbody>
            </table>
            <div>
              <button *ngIf="backButton === true" mat-raised-button color="accent" (click)="ngOnInit()">Back</button>
                <mat-paginator [length]="data.length"
                  [pageSize]="5"
                  aria-label="Select page"
                  (page)="onPageChange($event)">
                  </mat-paginator>
            </div>
            
          </mat-card-content>
        </mat-card>
    </div>
</div>