<div class="container w-full">
    <div class="header w-full flex justify-content-center align-items-center h-4rem mb-1">
        <div class="w-11 flex justify-content-between align-items-center">
            <div class="logo block">
                <p-avatar label="SC" styleClass="mr-2" size="large" [style]="{ 'background-color': '#2196F3', color: '#ffffff' }" shape="circle"></p-avatar>
            </div>
            <div class="login">
                <p-button label="Login" severity="success" routerLink="/login"></p-button>
            </div>
        </div>
    </div>
    <div class="loginSection w-full flex justify-content-center align-items-center mr-2">
        <div class="w-11 flex justify-content-between align-items-center flex-column md:flex-row">
            <div class="loginContent md:w-6 w-full h-full mr-2">
                <p class="block text-2xl ">Swasthya Center: Trusted, evidence-based solutions for modern healthcare</p>
                <p class="block">Dedicated to continuously innovating to meet the needs of the rapidly changing medical landscape, the Swasthya Center® suite offers clinical, drug, patient and member content to support health professionals wherever care takes place.
                </p>
                <div class="loginButton block">
    
                </div>
            </div>
            <div class="loginSectionImg md:w-6 md:h-auto w-full h-full">
                <img src="assets/img/young-woman-doctor-with-stethoscope-hospital.jpg" alt="" style="max-width: 100%;">
            </div>
        </div>
    </div>
    <div class="w-full linearGraSecCon flex justify-content-center">
        <div class="w-11 h-full linearGraSec flex justify-content-center flex-column text-0">
            <p class="block heading text-center text-xl">Lexicomp, Emmi, and Digital Health Architect join the Swasthya Center brand</p>
            <p class="block content text-justify mt-3">Introducing the unified Swasthya Center - Trusted, aligned clinical and drug decision support with patient and member engagement solutions united under one trusted brand to help you provide the best possible care. 
            </p>
        </div>
    </div>
    <!-- <div class="cardSection w-11 flex justify-content-between align-items-center">
         <div class="firstCard">
            
         </div>
         <div class="secondCard"></div>
         <div class="thirdCard"></div>
         <div class="fourthCard"></div>
         <div class="fifthCard"></div>
         <div class="sixthCard"></div>
    </div> -->
    <div class="footer w-full flex justify-content-center align-items-center h-4rem">
        <div class="w-11 flex justify-content-between align-items-center">
            <div class="footerLogo">
                <p class="text-500">© 2024 Swasthya Center</p>
            </div>
            <div class="media flex justify-content-center align-items-center">
                <a class="mr-2" href=""><i class="fa-brands fa-instagram fa-fade"></i></a>
                <a class="mr-2" href="https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter fa-fade"></i></a>
                <a href="https://www.facebook.com/login/"><i class="fa-brands fa-facebook fa-fade"></i>  </a>
            </div>
        </div>
    </div>
</div>